.History-Ethan {
    font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.Section-Title {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: brown;
    border-radius: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* All pop up texts*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
}
/* Actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  
}

/* Toggle - hides and shows the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/* Adding animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}